<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <title>Book Collection</title>

      <link rel="stylesheet" href="../../styles/reset.css">
      <link rel="stylesheet" href="../../styles/layout.css">
      <link rel="stylesheet" href="../../styles/base.css">
      <link rel="stylesheet" href="../../styles/modules.css">

    </head>
    
    <header id="headofsearchepage">

     <h4 class="headerOFSearchpage">Search by Title or Author</h4>

   </header>
    <body>
      <main>



      <section id="formcontainer">
                  
        <form action="/searches" method="post" id="form-body">
          <input type="text" name="search" placeholder="Enter a title or author" required  class="inputfield"><br>
         
            <label for="title">
              <span class="titlespan">Title</span>
              <input type="radio" name="searchBy" value="title" required >
            </label>
          
          
            <label for="author">
              <span class="autherspan">Author</span>
              <input type="radio" name="searchBy" value="author" required>
            </label><br>
         
          <button type="submit" id="button">Search the Google Books API</button>
        </form>

      </section>




      </main>



    </body>
    
    </html>